body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url(../imagens/fundo.png)
}

header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

img{
 padding-left: 200px;
 padding-top: 50px;
 padding-bottom 30px; 
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

#intro {
  background-image: url('imagem_de_fundo.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#intro h1 {
  font-size: 4rem;
  margin: 0;
  text-align: center;
}

#intro p {
  font-size: 1.5rem;
  margin: 20px 0;
  text-align: center;
}

#intro a {
  display: inline-block;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  margin-top: 20px;
}

